body{
    background-color:lightgray;
}

h1{
    font-family: 'Allison', cursive;
    text-align: center;
    margin: auto;
}

.art{
    margin: auto;
}

td{
    height: 200px;
    padding: 100px;
    border: 6px solid white;
}

#one{
    background-color: #2364aa;
}

#two{
    background-color: #3DA5D9;
}

#three{
    background-color: #73BFB8;
}

#four{
    background-color: #FEC601;
}

#five{
    background-color: #ea7317;
}